body {
  background-color: rgba(10, 10, 10, 0.01);
}

.post-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-holder {
  display: flex;
  width: 80vw;
  height: inherit;
  min-height: 600px;
  min-width: 800px;
  outline: 1px solid rgba(0.3, 0.3, 0.3, 0.25);
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #bfbfbf;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.post-user-name {
  text-decoration: none;
  display: flex;
  justify-content: left;
  align-items: left;
  font-family: Helvetica, sans-serif;
}

.post-user-name-name {
  text-decoration: none;
  font-size: 22px;
  color: red;
  font-family: Helvetica, sans-serif;
}
.post-user-name-name:hover {
  text-decoration: underline;
}

.far fa-heart:checked {
  background-color: red;
}

.post-follow-link {
  font-size: small;
  cursor: pointer;
  margin-left: auto;
  margin-right: 4px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 61px;
  height: 25px;
  margin-bottom: 4px;
  margin-top: 4px;
  border: solid 1px lightgrey;
  border-radius: 5px;
  background-color: salmon;
  color: black;
  font-family: Helvetica, sans-serif;
}

.post-likes {
  color: black;

  font-size: small;
  padding: 1px 0px 0px 3px;
}

.post-img-holder {
  height: auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.just-one {
  display: grid;
  width: 175px;
  height: 175px;
  margin-top: 50px;
  grid-column: 1/3;
  grid-row: 1/3;
}
.actual-picture {
  max-width: 250px;
  max-height: 250px;
}

.profile-images {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.profile-images-overlay {
  position: relative;
}
.overlay-likes {
  margin-left: -16px;
}

.actual-img {
  height: 100%;
  width: auto;
  border: solid 3px lightgrey;
  max-height: 500px;
  max-width: 500px;
  margin-top: 15px;
}

.post-recipe {
  border: solid 1px lightgrey;
  background-color: #fafafa;
  border-radius: 5px;
  padding: 25px;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 25px;
}
.dishname {
  margin-bottom: 25px;
  font-family: Helvetica, sans-serif;
}
.list-title {
  margin-bottom: 5px;
  font-family: Helvetica, sans-serif;
}
.list {
  font-family: Helvetica, sans-serif;
}
.instructions-title {
  margin-top: 25px;
  font-family: Helvetica, sans-serif;
}
.instructions-actual {
  font-family: Helvetica, sans-serif;
}

.post-comments-holder {
  overflow: auto;
  height: 100%;
}

.post-holder img {
  max-width: 100%;
  max-height: 100%;
}

.post-info-holder {
  height: auto;
  width: 25%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(10, 10, 10, 0.1);
}

.poster-info {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid rgba(10, 10, 10, 0.1);
}

.user-avatar {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  border: 2px solid rgba(10, 10, 10, 0.3);
  padding: 3px;
  margin-right: 5px;
  margin-left: 17.5px;
}

.post-comment {
  display: flex;
  align-items: center;
  font-size: small;
  margin-top: 3px;
  margin-bottom: 3px;
}

.img-comment {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  border: 2px solid rgba(10, 10, 10, 0.3);
}

.user-comment {
  text-decoration: none;
}
.comment-username {
  text-decoration: none;
  font-size: 14px;
  color: red;
}
.comment-username:hover {
  text-decoration: underline;
}

.post-comment-text {
  max-width: 100%;
  overflow-wrap: break-word;
  overflow-x: hidden;
  padding-left: 8px;
}

.post-comment-submit {
  margin-top: auto;
  border-top: 1px solid rgba(10, 10, 10, 0.1);
}

.post-comment-submit textarea {
  width: 100%;
  height: 125px;
  resize: none;
  border-top: 1px solid rgba(10, 10, 10, 0.1);
  border-bottom: 1px solid rgba(10, 10, 10, 0.1);
  border-left: 3px solid rgba(10, 10, 10, 0);
  border-right: none;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  padding: 5px;
}

.post-comment-submit input {
  width: 110px;
  height: 25px;
  margin-bottom: 4px;
  margin-top: 4px;
  margin-left: 4px;
  border: solid 1px lightgrey;
  border-radius: 5px;
  background-color: salmon;
  color: black;
}

.post-comment-submit input:hover {
  background-color: red;
}

.post-comment-submit .far {
  color: black;
}

.post-comment-submit i {
  cursor: pointer;
  margin: 3px;
}

.post-comment-submit .fas {
  color: red;
}

.recommended-post-holder {
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  border: 1px solid rgba(10, 10, 10, 0.1);
}
