body {
  background-color: rgba(10, 10, 10, 0.01);
}

.post-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
}
.post-holder {
  display: flex;
  width: 80vw;
  height: 80vh;
  border: 1px solid rgba(10, 10, 10, 0.1);
  background-color: white;
}

.post-user-name {
  text-decoration: none;
  display: inline;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.post-user-name-name {
  text-decoration: none;
  font-size: 22px;
  color: red;
}
.post-user-name-name:hover {
  text-decoration: none;
  font-size: 22px;
  color: red;
  border: 3px solid rgba(10, 10, 10, 0.1);
  border-radius: 20px;
  background-color: rgba(10, 10, 10, 0.1);
  padding: 2px;
}

.far fa-heart:checked {
  background-color: red;
}

.post-follow-link {
  font-size: small;
  cursor: pointer;
  margin-left: auto;
  margin-right: 4px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 61px;
  height: 25px;
  margin-bottom: 4px;
  margin-top: 4px;
  border: solid 1px lightgrey;
  border-radius: 5px;
  background-color: salmon;
  color: black;
}

.post-likes {
  color: black;

  font-size: small;
  padding: 1px 0px 0px 3px;
}

.post-img-holder {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post-recipe {
  border: solid 1px lightgrey;
  border-radius: 5px;
  padding: 5px;
  margin-top: 15px;
}

.post-comments-holder {
  overflow: auto;
  height: 100%;
}

.post-holder img {
  max-width: 100%;
  max-height: 100%;
}

.post-info-holder {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(10, 10, 10, 0.1);
}

.poster-info {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid rgba(10, 10, 10, 0.1);
}

.post-info-holder img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin: 3px;
}

.post-comment {
  display: flex;
  align-items: center;
  font-size: small;
  margin-top: 3px;
  margin-bottom: 3px;
}

.user-comment {
  text-decoration: none;
}

.post-comment-text {
  max-width: 100%;
  overflow-wrap: break-word;
  overflow-x: hidden;
}

.post-comment-submit {
  margin-top: auto;
  border-top: 1px solid rgba(10, 10, 10, 0.1);
}

.post-comment-submit textarea {
  width: 100%;
  resize: none;
  height: 125px;
  border-top: 1px solid rgba(10, 10, 10, 0.1);
  border-bottom: 1px solid rgba(10, 10, 10, 0.1);
  border-left: 3px solid rgba(10, 10, 10, 0);
  border-right: none;
}

.post-comment-submit input {
  width: 110px;
  height: 25px;
  margin-bottom: 4px;
  margin-top: 4px;
  margin-left: 4px;
  border: solid 1px lightgrey;
  border-radius: 5px;
  background-color: salmon;
  color: black;
}

.post-comment-submit input:hover {
  background-color: red;
}

.post-comment-submit .far {
  color: black;
}

.post-comment-submit i {
  cursor: pointer;
  margin: 3px;
}

.post-comment-submit .fas {
  color: red;
}

.recommended-post-holder {
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80vw;
  border: 1px solid rgba(10, 10, 10, 0.1);
}
