.newPostForm {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.postFormContainer {
  width: 500px;
  height: 100%;
  border: 1px solid lightgrey;
  /* border: 3px solid black; */
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: rgba(var(--i1d, 38, 38, 38), 1);
}

.imgContainer {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.imgCaptionContainer {
  padding: 20px 20px 0px 20px;
  width: 450px;
  display: flex;
  justify-content: center;
}

.imgCaptionInput {
  border: 1px solid lightgray;
  width: 400px;
  height: 100px;
  resize: none;
}

.imgUploadTitle {
  display: inline;
  font-size: 1.5rem;
  margin-bottom: 5px;
  text-align: center;
}

.imgUploadButton {
  background-color: #ad6bf8;
  border-radius: 3px;
  color: white;
  width: 80px;
  height: 30px;
  outline: none;
  border: none;
  transition: 0.3s;
}

.imgUploadButton:hover {
  background-color: #8929f7;
}

.imgCaptionContainer {
  padding: 20px 20px 0px 20px;
  width: 450px;
  display: flex;
  justify-content: center;
}
