* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica sans-serif;
}
.post-main__container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.posts-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-username {
  text-decoration: none;
  font-size: 20px;
  color: red;
  font-family: Helvetica, sans-serif;
}
.post-username:hover {
  text-decoration: underline;
  font-family: Helvetica, sans-serif;
}

.actual-image {
  height: 100%;
  width: auto;
}
/* .actual-image:hover{
  border: 2px solid salmon;
} */

.post-comments-likes {
  border-bottom: 1px solid rgba(0.3, 0.3, 0.3, 0.25);
  padding: 5px;
  margin-top: 10px;
}

.post-user-info {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0.3, 0.3, 0.3, 0.25);
  padding: 15px;
}

.post-author-name {
  text-decoration: none;
  font-size: 22px;
  color: red;
  font-family: Helvetica, sans-serif;
}
.post-author-name:hover {
  text-decoration: underline;
}

.more-comments {
  text-decoration: none;
  font-size: 14px;
  margin-left: 5px;
  color: red;
  font-family: Helvetica, sans-serif;
}
.more-comments:hover {
  text-decoration: underline;
}


.comment-username {
  text-decoration: none;
  font-size: 14px;
  color: red;
  font-family: Helvetica, sans-serif;
}
.comment-username:hover {
  text-decoration: underline;
  font-size: 16px;
  color: red;
}

.no-recipe {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.post-profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  overflow: hidden;
  border: 2px solid rgba(10, 10, 10, 0.3);
  padding: 3px;
  margin-right: 5px;
}

.comment-profile-pic {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  overflow: hidden;
  border: 2px solid rgba(10, 10, 10, 0.3);
  /* padding: 3px; */
  margin-right: 5px;
}

.post-comment-holder {
  color: grey;
  font-weight: lighter;
  font-size: medium;
}

.post-text {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  margin-left: 10px;
}
div.post-likes {
  margin-left: 10px;
}
i.fas.fa-heart {
  margin-left: 10px;
}
i.far.fa-heart {
  margin-left: 10px;
}

.post-comment-field {
  margin-top: 10px;
  resize: none;
  border: 1px solid black;
  padding: 5px 0px 10px 10px;
  width: 80%;
  height: 9vh;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  padding: 5px;
}
.comments-title {
  margin-left: 5px;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
}

.one-post-container {
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 500px;
  height: auto;
  outline: 1px solid rgba(0.3, 0.3, 0.3, 0.25);
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #bfbfbf;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.one-searched-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 35%;
  outline: 1px solid rgba(0.3, 0.3, 0.3, 0.25);
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.search-main__container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.container__title {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: Helvetica, sans-serif;
}

.feed-post-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  border-bottom: 1px solid rgba(0.3, 0.3, 0.3, 0.25);
}

.comment-submit {
  width: 110px;
  height: 25px;
  margin-bottom: 4px;
  margin-top: 4px;
  margin-left: 4px;
  border: solid 1px lightgrey;
  border-radius: 5px;
  background-color: salmon;
  color: black;
  font-family: Helvetica, sans-serif;
}
.comment-submit:hover {
  background-color: red;
}

.comment-submit:hover {
  cursor: pointer;
}

.more-comments {
  text-decoration: none;
  padding-left: 4px;
  font-family: Helvetica, sans-serif;
}

.feed-comment {
  margin-bottom: 4px;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
}

.fa-heart {
  cursor: pointer;
  padding: 6px 0px 0px 6px;
}

.comment-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-family: Helvetica, sans-serif;
}
.feed-comment {
  /* border: 1px solid black; */
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  margin-top: 5px;
  font-family: Helvetica, sans-serif;
}

.feed-post-img-container img {
  max-width: 100%;
  max-height: 80vh;
  cursor: pointer;
}

.delete-button {
  padding-left: 340px;
}

.delete-button:hover{
  color:salmon;
}

.x-stretch {
  padding-left: 30px;
  /* border: none; */
  background-color: salmon;
}
